lein/self-installs
lein/indices
lein/repl-history
vim/.netrwhist
vim/bundle/.vundle
vim/bundle
emacs.d/elpa
emacs.d/backups
emacs.d/auto-save-list
emacs.d/eshell
emacs.d/.smex-items
emacs.d/ac-comphist.dat
emacs.d/nrepl-history
emacs.d/places
emacs.d/url
emacs.d/\*Backtrace\*
*.elc
\#*
*.DS_Store
